@use "../../assets/styles/mixins" as mixin;
.tooltip {
  background-color: var(--primary);
  height: 73px;
  width: 49px;
  gap: 15px;
  color: var(--text-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.container {
  background: #fbfbfb;
  padding: 2rem;
  width: 950px;
  @include mixin.sm-display {
    width: 688px;
    height: 335px;
  }
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 3rem;
}

.dotContent {
  display: flex;
  color: #74798c;
  span {
    font-size: 8px;
    padding: 1rem;
  }
  p {
    display: flex;
    align-items: center;
  }
}
.reddot {
  color: var(--primary);
}
.blackdot {
  color: var(--background);
}
