@use "../../assets/styles/mixins" as mixin;
.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 63vh;
  color: var(--primary);
  h1 {
    margin: 3rem;
    font-size: 12rem;
  }
  p {
    margin-bottom: 4rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  a {
    color: var(--primary);

    font-size: 1.1rem;
    &:hover {
      text-decoration: underline;
    }
  }
}
