@use "../../assets/styles/mixins" as mixin;
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

.recharts-polar-angle-axis-tick-value {
  margin: 1rem;
}

.recharts-pie-label-line {
  stroke: none;
}
.recharts-sector {
  border-radius: 10px;
}

.recharts-layer {
  left: 20px;
}
.recharts-responsive-container {
  @include mixin.sm-display {
    min-width: 220px !important;
  }
}
.recharts-wrapper {
  @include mixin.sm-display {
    width: 90% !important;
  }
}

.recharts-polar-angle-axis-ticks {
  @include mixin.sm-display {
    text {
      font-size: 8px !important;
    }
  }
}
