.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--background);
  width: 6.5rem;
  height: 90vh;
}
.text {
  color: var(--text-bg);
  transform: rotate(270deg);
  display: flex;
  font-size: 10px;
  width: 220px;
}
.icon {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
