.title {
  background-color: black;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  height: 5rem;
}
.linkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  button {
    cursor: pointer;
    width: 8rem;
    height: 3rem;
    border-radius: 5px;
    border: 1px var(--primary) solid;
  }
}
